@font-face {
  font-family: font;
  src: url(Roboto-Regular.ttf);
}

* {
  font-family: font, Arial, sans-serif;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
body {
  font-size: 12px;
  line-height: 1.4em;
  background-color: black;
}

a {
  text-decoration: none;
}
.dark a {
  color: #5ae;
}
#wrap {
  padding: 0 3.5%;
}
svg {
  font-family: Ubuntu, Tahoma, Helvetica, sans-serif;
}
canvas, svg {
  position: absolute;
}
#chart {
  position: relative;
}
.brush rect.extent {
  fill: rgba(100,100,100,0.15);
  stroke: #fff;
}
.dark .brush rect.extent {
  fill: rgba(100,100,100,0.15);
  stroke: #ddd;
}
.brush:hover rect.extent {
  stroke: #222;
  stroke-dasharray: 5,5;
}
.brush rect.extent:hover {
  stroke-dasharray: none;
}
.resize rect {
  fill: none;
}
.background {
  fill: none;
}
.dark .background {
  fill: none;
}
.axis line, .axis path {
  fill: none;
  stroke: #777;
  stroke-width: 1;
}
.dark .axis line, .dark .axis path {
  stroke: #777;
}
.axis .tick {
  width: 200px;
}
.axis text {
  fill: white;
  color: white;
  text-anchor: middle;
  font-size: 11px;
  font-weight:bold;
}
.axis text.label {
  fill: white;
  color: white;
  text-anchor: middle;
  font-size: 15px;
  font-weight:bold;
}

.radar_axis text {
  fill: white;
  color: white;
  text-anchor: middle;
  font-size: 15px;
  font-weight:bold;
}

.axis_label {
  fill: white;
  color: white;
  text-anchor: middle;
  font-size: 11px;
  font-weight:bold;
}


.quarter, .third, .half {
  float: left;
}
.quarter {
  width: 23%;
  margin: 0 1%;
}

.half {
  width: 48%;
  margin: 0 1%;
}
h3 {
  margin: 12px 0 9px;
}
h3 small {
  color: #888;
  font-weight: normal;
}
p {
  margin: 0.6em 0;
}
small {
  line-height: 1.2em;
}
button[disabled=disabled] {
  color: #555 !important;
  opacity: 0.4;
}
.settings button[disabled=disabled] {
  display: none;
}
.dark button[disabled=disabled] {
  opacity: 0.2;
}
button#keep-data,
button#exclude-data {
  font-weight:bold
}
button#keep-data:hover {
  color: #080;
}
button#exclude-data:hover {
  color: #900;
}
#food-list {
  width: 100%;
  height: 460px;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}
#legend {
  text-align: left;
  overflow-y: auto;
  border-left: 1px solid rgba(140,140,140,0.5);
}
.row {
  cursor: pointer;
}
.row:hover {
  font-size: 16px;
  line-height: 1.3em;
}
.off {
  color: #999;
}
.dark .off {
  color: #555;
}
.dark #legend {
  border-left: 1px solid #777;
}
.color-block, .color-bar {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin: 1px 4px 1px 0px;
}
#rendered-bar,
#selected-bar {
  width:0%;
  font-weight: bold;
}
#rendered-bar {
  background: #ffffff;
  border-right: 1px solid #666;
}
#selected-bar {
  background: rgba(199, 199, 199, 0.5);
  border-right: 1px solid #999;
}
.fillbar {
  height: 12px;
  line-height: 12px;
  border:1px solid rgba(120,120,120,0.5);
  width: 120px;
  display: inline-block;
}
.little-box {
  width: 268px;
  float: left;
}
#header {
  border-bottom: 1px solid rgba(100,100,100,0.35);
  color: white;
  background: #191414;
  padding: 6px 24px 4px;
  line-height: 24px;
}

.dark #header {
  background: #040404;
  color: #f3f3f3;
}
#header h1 {
  color: #1DB954;
  display: inline-block;
  margin: 0px 14px 0 0;
}
#header button {
  font-weight: bold;
  vertical-align: top;
  background-color: #ffffff; /* Gray background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 2px 5px; /* Smaller padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block;
  font-size: 14px; /* Smaller font size */
  margin: 4px 2px;
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 8px; /* Rounded corners */
  transition-duration: 0.1s; /* Transition effect */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Drop shadow */
}

#header button:hover {
  background-color:  #1DB954; /* Darker gray background on hover */
  /*color: white; !* White text on hover *!*/
}

.controls {
  float: right;
  height: 24px;
  line-height: 24px;
}

/* Scrollbars */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 12px;
}
 
::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border-radius: 12px;
}
.dark ::-webkit-scrollbar-track {
  background: #222;
}
.dark ::-webkit-scrollbar-thumb {
  background: #444;
}


.radar-chart .area {
  fill-opacity: 0.6;
}
.radar-chart.focus .area {
  fill-opacity: 0.1;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}


#grid-container {
  width: 100%;
  height: 98%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(18, 5%);
  grid-template-rows: repeat(18, 5%);
  grid-gap: .5%;
  padding: .5%;
  background-color: black;
  /*background: linear-gradient(0deg, #17251b, #101311);*/
}

.grid_cell {
  position: relative;
  color: white;
  background: #191414;
  box-shadow: 0px 0px 2px rgba(148, 148, 148, 0.5); /* horizontal offset, vertical offset, blur radius, color */
  border-radius: 10px; /* adjust as needed */
  padding: 2.5%;
}

.grid_cell h1 {
  position: absolute;
  margin: 5px 5px 0 0;
  top: 2%;
  left: .5%;
}

.no-wrap {
  white-space: nowrap; /* prevent the text from breaking into multiple lines */
  overflow: hidden; /* hide the overflowed text */
}

#landing_page {
  overflow: auto;
  grid-column: 1 / span 6;
  grid-row: 1 / span 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#genre-list {
  overflow: auto;
  color: white;
  font-size: 12px;
}

#genre-selector {
  overflow: auto;
  grid-column: 1 / span 3;
  grid-row: 6 / span 5;
}

#track-finder {
  grid-column: 4 / span 3;
  grid-row: 6 / span 5;
}

#parallel_chart {
  grid-column: 7 / span 13;
  grid-row: 1 / span 10;
}

#radar-container {
  grid-column: 1 / span 6;
  grid-row: 11 / span 8;
}

#stream_graph {
  grid-column: 7 / span 13;
  grid-row: 11 / span 8;
}

svg, canvas {
  max-width: 100%;
}

input[type=text] {
  width: 50%; /* set the width of the input field */
  padding: 10px; /* add space inside the input field */
  border: 0px; /* change the border size and color */
  border-radius: 4px; /* add rounded corners */
  /*background-color: #191414; !* set the background color *!*/
  color: white;
  outline: none;
  background: linear-gradient(white, #808080) center bottom 5px /calc(100% - 20px) 2px no-repeat; /* add an underline */
}

/* Style the dropdown button */
select {
  position: absolute;
  top: -10px;
  padding: 10px; /* add space inside the dropdown */
  border: 0; /* remove the border */
  background: linear-gradient(white, #808080) center bottom 5px /calc(100% - 20px) 2px no-repeat; /* add an underline */
  color: white; /* set the text color */
}

/* Style the dropdown options */
select option {
  border: 0; /* remove the border */
  background-color: #191414; /* set the background color of the options */
  color: white; /* set the text color of the options */
}

/* Change the background color of the options on hover */
select option:hover {
  background-color: #f1f1f1; /* set the background color of the hovered option */
}